* {
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}


.startScreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(./background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 199, 17);
    letter-spacing: 3px;
    flex-direction: column
}

.hide {
    display: none;
}

.gameArea {
    width: 100%;
    height: 100vh;
    background: url(./background_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.msg {
    padding: 50px;
    color: green;
    font-size: 4rem;
}

.score-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    position: absolute;
    top: 0;
    width: 500px;
    height: 60px;
    font-size: 3.3rem;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    text-align: center;
    z-index: 100;
}



.bird {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 1.5em;
    background-image: url(./bird.png);
    background-size: cover;
}

.wing {
    position: absolute;
    top: 10px;
    left: -5px;
    width: 30px;
    height: 15px;
    background-color: gold;
    border-radius: 7px;
}

.gameMessage {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 40vh;
    background: rgba(0, 0, 0, 0.712);
    color: white;
    font-size: 2rem;
    text-align: center;
    font-family: fantasy;
    font-size: bold;
    z-index: 100;
}

.pipe {
    width: 100px;
    position: absolute;
    text-align: center;
    background-image: url(./pipe.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
   
}
